[MASTER]
ignore=tests
jobs=1
load-plugins=pylint.extensions.docparams, pylint.extensions.mccabe

[MESSAGES CONTROL]
enable=W0511  # TODO comments

[FORMAT]
max-line-length=88
indent-string='    '

[DESIGN]
max-args=5
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=10

[LOGGING]
logging-format-style=old
